* {
 font-family: Arial, sans-serif;
 box-sizing: border-box;
}
.wrapper {
 max-width: 600px;
 margin: 0 auto;
}

.form {
 max-width: 200px;
}

.input,
.label,
.select {
 width: 100%;
 margin: 5px 0;
 font-size: 12px;
}
